.Pokedex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* .Pokedex-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
} */

.Pokedex-winner {
  color: green;
}

.Pokedex-loser {
  color: red;
}
