.Pokecard {
  width: 200px;
  padding: 10px;
  margin: 1rem;
  border-radius: 20px;
  box-shadow: 7px 10px 12px -5px rgba(0, 0, 0, 0.56);
  text-align: center;
  background-color: #fff;
}

/* .Pokecard {
  background: #777;
  width: 200px;
  margin: 1rem;
  border-radius: 20px;
} */

.Pokecard-name {
  color: navy;
  font-weight: 700;
  font-size: 1.2rem;
}

.Pokecard-details {
  font-size: 80%;
}
